* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.need-slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.need-slider_wrapper {
  display: flex;
  gap: 5px;
  overflow: hidden;
  position: relative;
}

.need-slider {
  display: flex;
  transition: 0.5s ease-in-out;
}

.need-slide {
  display: flex;
}

.need-slide__img {
  position: relative;
}

.need-slide__text {
  position: absolute;

  font-size: 25px;
}

.need-slider_prev {
  background-image: url(./img/ArrowLeftGray.svg);
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  border: none;
}

.need-slider_next {
  background-image: url(./img/ArrowRightGray.svg);
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  border: none;
}
